<a href="https://colab.research.google.com/github/Yulianas24/MetodeSAW/blob/main/MetodeSAW.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Metode SAW untuk Pemilihan Lahan Sawit

In [ ]:
import pandas as pd

Load data

In [ ]:
df = pd.read_csv("https://raw.githubusercontent.com/Yulianas24/MetodeSAW/main/file/dataLahan.csv")
df

         Alternatif    C1  C2  C3   C4   C5
0     Lahan Aluvial  1978  89   6  120  500
1     Lahan Andosol  2005  90   4  139  435
2     Lahan Entisol  1567  87   7  120  607
3    Lahan Grumusol  1987  98   5  145  689
4       Lahan Humus  1870  80   7  155  745
5  Lahan Inceptisol  2000  76   8  205  236
6     Lahan Laterit  1769  70   9  126  598
7     Lahan Latosol  1987  60   4  169  408
8     Lahan Litosol  1890  90   5  150  450
9       Lahan Kapur  1698  88   7  175  600

Normalisasi Data

In [ ]:
X = df.iloc[:,1:]
Y = df.iloc[:,0]

max = X.max().values

for col in range(len(X.axes[1])):
  for data in range(len(X)):
    X.iloc[data, col]/=max[col]
X

         C1        C2        C3        C4        C5
0  0.986534  0.908163  0.666667  0.585366  0.671141
1  1.000000  0.918367  0.444444  0.678049  0.583893
2  0.781546  0.887755  0.777778  0.585366  0.814765
3  0.991022  1.000000  0.555556  0.707317  0.924832
4  0.932668  0.816327  0.777778  0.756098  1.000000
5  0.997506  0.775510  0.888889  1.000000  0.316779
6  0.882294  0.714286  1.000000  0.614634  0.802685
7  0.991022  0.612245  0.444444  0.824390  0.547651
8  0.942643  0.918367  0.555556  0.731707  0.604027
9  0.846883  0.897959  0.777778  0.853659  0.805369

Menambahkan Bobot W = [0.35, 0.25, 0.1, 0.2, 0.1]

In [ ]:
hasil = []
bobot = [0.35, 0.25, 0.1, 0.2, 0.1]
v1 = (X.iloc[0].values * bobot).sum()

for i in range(len(X)):
  hasil.append((X.iloc[i].values * bobot).sum())
hasil

[0.8231815307270302,
 0.8180352990216657,
 0.7718073812189727,
 0.886360047027808,
 0.8595128378379311,
 0.8635714743031782,
 0.7905697067342634,
 0.7640066737474651,
 0.821816727301061,
 0.849945171321006]

Ranking

In [ ]:
data = {'Hasil': hasil, 'Jenis': Y}
hasil_akhir = pd.DataFrame(data = data)
hasil_akhir.sort_values(by = 'Hasil', ascending=False)

      Hasil             Jenis
3  0.886360    Lahan Grumusol
5  0.863571  Lahan Inceptisol
4  0.859513       Lahan Humus
9  0.849945       Lahan Kapur
0  0.823182     Lahan Aluvial
8  0.821817     Lahan Litosol
1  0.818035     Lahan Andosol
6  0.790570     Lahan Laterit
2  0.771807     Lahan Entisol
7  0.764007     Lahan Latosol